<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ParentFolderPath" value="C:\Users\umer.nasir\OneDrive - Aga Khan University\Desktop\Umer\VS" />
	  <add key="ConfigXml" value="\ConfigFiles\SystemConfig.xml"/>
	  <add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>